.spacing > * + * {
	margin-top: var(--spacer, 2.5rem);
}

.row {
	display: flex;
	align-items: center;
}
.container {
	width: 90%;
	max-width: 120rem;
	@media only screen and(min-width:$v-6) {
		width: 85%;
	}
}
